* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.calculator {
	width: 360px;
	margin: 1rem;
	.calculator-display {
		display: flex;
		justify-content: end;
		width: 100%;
		color: slategray;
		background-color: white;
		border: 1px dashed slategray;
		border-radius: 10px;
		font-size: 2rem;
		margin: 1rem 0;
		padding: 1rem 2rem;
	}

	button {
		padding: 1rem;
		width: calc(360px / 4 - 7px);
		font-size: 1.1rem;
		margin: 0.2rem;
		border-radius: 10px;
		border: 1px solid slategray;
		background-color: white;
	}

	.number-button {
		background-color: slategray;
		color: white;
		&:hover {
			background-color: rgb(82, 94, 106);
			border: 1px solid rgb(82, 94, 106);
		}
	}

	.operation-button {
		background-color: rgb(255, 191, 72);
		border: 1px solid rgb(255, 191, 72);
		color: slategray;
		&:hover {
			background-color: rgb(206, 148, 42);
			border: 1px solid rgb(206, 148, 42);
		}
	}

	.action-button {
		color: slategray;
		&:hover {
			background-color: slategray;
			border: 1px solid slategray;
			color: white;
		}
	}
}

.calculator-title {
	text-align: center;
	margin: 1rem 0;

	a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.text-converter {
	text-align: center;
	padding: 1rem;

	h1 {
		color: rgb(25, 25, 112);
	}
	a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	input {
		padding: 0.5rem 1.2rem;
		font-size: 1.5rem;
		width: 90%;
		margin: 2rem;
		border: 2px dashed rgb(25, 25, 112);
		border-radius: 50px;
	}

	.upper-case,
	.lower-case,
	.capitalize,
	.inverted-string {
		max-width: 70%;
		margin: 0.5rem auto;
		text-align: left;

		span:first-child {
			font-weight: 700;
			color: rgb(25, 25, 112);
		}
		span:nth-child(2) {
			font-size: 1.5rem;
			color: rgb(11, 11, 51);
		}
	}
}

.odd-even {
	.title {
		text-align: center;
		padding: 1rem;

		a {
			color: black;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

		& > * + * {
			margin-top: 1rem;
		}
	}

	.numbers-input {
		display: flex;
		flex-wrap: wrap;
		& input {
			padding: 0.3rem 1rem;
			margin: 0.7rem 1.2rem;
			max-width: 100px;
			border: 1px dashed black;
			border-radius: 10px;
		}
	}

	.numbers-output {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 2rem;
	}

	.even-numbers,
	.odd-numbers {
		min-width: 400px;
		border: 1px dashed black;
		border-radius: 20px;
		padding: 1rem;

		h3 {
			margin-bottom: 0.5rem;
		}

		& > div span {
			font-size: 1.1rem;
			font-weight: 400;
		}

		& > div span:first-child {
			font-size: 0.9rem;
			font-weight: 500;
		}
	}
}

.guess-number {
	.title {
		text-align: center;
		padding: 1rem;

		a {
			color: black;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

		& > * + * {
			margin-top: 1rem;
		}
	}
	.attempt-input {
		display: flex;
		justify-content: center;

		input {
			max-width: 120px;
			font-size: 2rem;
			padding: 0.5rem 0.7rem;
			border: 2px dashed black;
			border-right: none;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
		}

		button {
			font-weight: 700;
			padding: 0.5rem 0.7rem;
			background-color: white;
			border: 2px solid black;
			&:hover {
				cursor: pointer;
				background-color: beige;
			}
		}

		button:nth-child(3) {
			border-left: none;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
		}
	}

	.number {
		font-weight: 700;
	}
}
.citations {
	.title {
		text-align: center;
		padding: 1rem;

		a {
			color: black;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

		& > * + * {
			margin-top: 1rem;
		}
	}

	.new-citation {
		display: flex;
		justify-content: center;
		padding: 1rem;

		button {
			padding: 0.7rem 1.5rem;
			background-color: rgb(255, 255, 190);
			border: 1px dashed black;
			border-radius: 20px;
		}

		button:hover {
			cursor: pointer;
			background-color: rgb(233, 217, 129);
		}
	}

	.citation {
		text-align: center;
	}

	.citation-text {
		font-size: 1.1rem;
		font-weight: 400;

		&::before {
			content: '"';
			font-size: 2rem;
		}

		&::after {
			content: '"';
			font-size: 2rem;
		}
	}

	.citation-author {
		display: block;
		text-align: end;
		font-weight: 700;
		margin: 2rem 10rem 2rem 10rem;
	}
}

.pomodoro {
	.title {
		text-align: center;
		padding: 1rem;

		a {
			color: black;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

		& > * + * {
			margin-top: 1rem;
		}
	}
}
